# top-most EditorConfig file.
root = true

# Unix-style newlines and UTF-8 for all files.
[*]
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
charset = utf-8
max_line_length = 100
indent_size = 4
indent_style = space
ij_kotlin_imports_layout = *
